In [197]:
import pandas as pd
import numpy as np
import csv

In [73]:
def typ_grp(Vax_Type_Cnt):
    if (Vax_Type_Cnt > 3):
        print('4+')
    else:
        print('Under 4')

In [195]:
covid_df = pd.read_csv('WHO_COVID_19_global_data.csv')
covi_df = pd.DataFrame(covid_df)
covi_df['Vax_Typ_Grp'] = np.where(covi_df['Vax_Type_Cnt'] > 3, '4+', 'Under 4') #create new column grouping vax varieties
covi_df[['Mo', 'Day', 'Yr']] = covi_df['Date_reported'].str.split('/', expand=True) #split date field
covi_df['YrMo'] = covi_df['Yr'].map(str) + '/' + covi_df['Mo'].map(str) #concat just year and month fields
covi_df2 = covi_df.drop(['Country_code', 'WHO_region', 'Vax_Type_Cnt', 'Day', 'Mo'], axis=1) #drop uneeded columns
covi_df2.rename(columns = {'Date_reported':'Rep_Dt', 'Cumulative_deaths':'Tot_Dths', 'Cumulative_cases':'Tot_Cases', 'First_Vax_Date':'1stVaxDt'}, inplace = True) #rename columns
covi_df2 =covi_df2[["Country", "YrMo", "Rep_Dt", "New_cases", "New_deaths", "Tot_Cases", "Tot_Dths", "Vax_Rate", "1stVaxDt", "Vax_Typ_Grp"]] #reorder columns
covi_df2['Vax_PrePost'] = np.where(covi_df2['Rep_Dt'] > covi_df2['1stVaxDt'], 'Post_Vax', 'Pre_Vax') #create new column to sort data by pre/post first vax release
covi_df3 = covi_df2.loc[covi_df2['Country'] == 'Italy']
covi_df3


#covi_df2.filter(covi_df2['Country']=='Italy', axis=0)
#covi_df2['New_Death_Rate'] = covi_df2['New_deaths']/covi_df2['New_cases']
#covi_df3 = covi_df2.loc[covi_df2['Day'] == '15'] #make dataset monthly
#covi_df3

,Country,YrMo,Rep_Dt,New_cases,New_deaths,Tot_Cases,Tot_Dths,Vax_Rate,1stVaxDt,Vax_Typ_Grp,Vax_PrePost
93112,Italy,2020/1,1/3/2020,0,0,0,0,79.568,12/23/2020,4+,Pre_Vax
93113,Italy,2020/1,1/4/2020,0,0,0,0,79.568,12/23/2020,4+,Pre_Vax
93114,Italy,2020/1,1/5/2020,0,0,0,0,79.568,12/23/2020,4+,Pre_Vax
93115,Italy,2020/1,1/6/2020,0,0,0,0,79.568,12/23/2020,4+,Pre_Vax
93116,Italy,2020/1,1/7/2020,0,0,0,0,79.568,12/23/2020,4+,Pre_Vax
...,...,...,...,...,...,...,...,...,...,...,...
94011,Italy,2022/6,6/20/2022,34255,18,17879160,167721,79.568,12/23/2020,4+,Post_Vax
94012,Italy,2022/6,6/21/2022,16905,59,17896065,167780,79.568,12/23/2020,4+,Post_Vax
94013,Italy,2022/6,6/22/2022,63264,62,17959329,167842,79.568,12/23/2020,4+,Post_Vax
94014,Italy,2022/6,6/23/2022,54873,50,18014202,167892,79.568,12/23/2020,4+,Post_Vax
94015,Italy,2022/6,6/24/2022,57432,75,18071634,167967,79.568,12/23/2020,4+,Post_Vax

In [196]:
Covid_Tbl = pd.pivot_table(covi_df3, values=['New_cases','New_deaths'], index=['YrMo'],
                     aggfunc=np.sum, fill_value=0)
Covid_Tbl

         New_cases  New_deaths
YrMo
2020/1           3           0
2020/10     334663        2446
2020/11     937504       16583
2020/12     498511       18700
2020/2         885          21
2020/3      100851       11570
2020/4      101852       16091
2020/5       29073        5658
2020/6        7772        1404
2020/7        6722         388
2020/8       21060         345
2020/9       44793         398
2021/1      458094       14675
2021/10      99179        1204
2021/11     248350        1665
2021/12     965638        3508
2021/2      366042        9228
2021/3      653120       11372
2021/4      448263       11665
2021/5      206795        5502
2021/6       43130        1496
2021/7       84386         505
2021/8      190980        1099
2021/9      133762        1724
2022/1     4944057        8902
2022/2     1839073        8411
2022/3     1803432        4664
2022/4     1841193        4153
2022/5      987540        3254
2022/6      674911        1336

In [192]:
Covid_Tbl2 = pd.pivot_table(covi_df2, values=['New_cases','New_deaths'], index=['YrMo'], columns=['Vax_Typ_Grp'],
                     aggfunc=np.sum, fill_value=0)
Covid_Tbl2

            New_cases           New_deaths
Vax_Typ_Grp        4+   Under 4         4+ Under 4
YrMo
2020/1           9850         5        213       0
2020/10       8882198   3520164     139107   42905
2020/11      10553542   6507692     208255   75785
2020/12       9515341   9554072     231767  131281
2020/2          74667       859       2715       7
2020/3         500758    246724      33247    7485
2020/4        1055322   1257710     106229   88051
2020/5        1621041   1276004      97866   62332
2020/6        2923848   1360881     116414   36863
2020/7        4319206   2727663     142056   43042
2020/8        5981983   2330067     148200   45676
2020/9        6609875   2109821     135635   33364
2021/1       10041292   9724827     249072  180611
2021/10       7153534   6210841     119554   97241
2021/11       9516790   5892431     134052   81707
2021/12      13421568  11297984     126842   89819
2021/2        7073510   3975418     190940  110865
2021/3       11180856   3262917     222067   59324
2021/4       17894340   4126746     324818   47509
2021/5       17993573   2208351     339390   43522
2021/6        9441020   1992409     235002   34474
2021/7       11112653   4698702     209857   59373
2021/8       12012855   7795451     217470   90349
2021/9        8560861   7579159     151151  106255
2022/1       57581056  32079568     135241  109414
2022/2       43381893  15325814     174688  105384
2022/3       43677938   6841784     127777   56436
2022/4       22061516   3199695      57353   29725
2022/5       12306367   3797208      31145   17848
2022/6        9214692   3318946      18378   10964

In [164]:
#Question 1: Which country or countries has the highest number of vaccine types?
#Question 2: Which country or countries has the lowest number of vaccine types?
Cov_Qs = covi_df.groupby('Country')['Vax_Type_Cnt'].mean()
Cov_Q1_Q2 = pd.DataFrame(Cov_Qs)
Cov_Q1 = Cov_Q1_Q2.sort_values(by='Vax_Type_Cnt', ascending=False)
Cov_Q2 = Cov_Q1_Q2.sort_values(by=['Vax_Type_Cnt'])

In [165]:
#Question 1 Answer
print('Country with the highest number of vaccine types:')
Cov_Q1.head(1)

Country with the highest number of vaccine types:

                            Vax_Type_Cnt
Country
Iran (Islamic Republic of)          12.0

In [162]:
#Question 2 Answer
print('Countries with the fewest number of vaccine types:')
Cov_Q2.head()

Country with the fewest number of vaccine types:

                Vax_Type_Cnt
Country
Saba                     0.0
Sint Eustatius           0.0
Bonaire                  0.0
Montserrat               1.0
Chad                     1.0